@import '../../styles/main.scss';

.search-box {
  width: 80%;
  font-size: 2rem;
  font-weight: 300;
  height: 50px;
  border: none;
  color: $primary-gray;
  border-bottom: 1px solid $primary-gray;
  background: inherit;
}