@import '../../styles/main.scss';

.search-box {
  width: 80%;
  height: 3rem;
  font-size: 2rem;
  font-weight: 300;
  color: $textSecondary;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $textSecondary;
  background: transparent;

  &:focus {
    outline: none;
  }

  @media #{$mobileOnly} {
    width: 90%;
    font-size: 1.1rem;
    height: 2rem;
  }
}

::placeholder {
  color: $textSecondary;
  opacity: 0.3;
}