@import '../../styles/main.scss';

.profile-modal {
  width: 98vw;
  height: 98vh;
  background-color: #F4F7F6;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  overflow-y: scroll;

  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    border: none;
    padding: 10px;
  }

  .top-banner {
    background-color: $dark-gray;
    height: 50vh;
    border-bottom: 4px solid $textPrimary;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    .info {
      text-align: center;

      img {
        max-width: 100%;
        max-height: 100%;
        height: 25vh;
        border-radius: 50%;
        vertical-align: top;
        border: 4px solid $textPrimary;
      }

      .name {
        font-size: 36px;
        color: $textPrimary; //5c848e
        padding: 10px;
      }

      .office {
        font-size: 18px;
        color: $textPrimary;
        padding-bottom: 10px;
      }
    }
  }

  .truthiness {
    display: flex;
    flex-direction: column;
    align-items: center;

    .pie-title {
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 28px;
      color: $dark-gray;
    }

    .truth-rating {
      font-size: 24px;
      color: crimson;
    }

    g text {
      font-size: 14px !important; /* Need this to override Nivo styling */
    }
  }
}

  .hidden {
    display: none;
  }

  .non-scrollable {
    //overflow: hidden;
  }
