@import '../../styles/main.scss';

.representatives-section {
  display: flex;
  flex-flow: wrap;
  justify-content: center;

  //.profile-modal {
  //  width: 90vw;
  //  height: 90vh;
  //  background-color: cyan;
  //  position: absolute;
  //  top: 50%;
  //  left: 50%;
  //  transform: translate(-50%, -50%);
  //}

  .loader {
    display: block;
    color: $primary-white;
    font-size: 2rem;
  }
}