@import '../styles/main.scss';

.app {
  width: 100%;

  .page {
    max-width: 1370px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 20px;

    .title {
      color: $textPrimary;
      font-size: 5rem;
      margin-top: 10rem;
      margin-bottom: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      @media #{$mobileOnly} {
        font-size: 2rem;
        margin-bottom: 1rem;
        margin-top: 6rem;
      }

      @media #{$tabletOnly} {
        font-size: 3rem;
        margin-bottom: 2rem;
      }

      &.top {
        margin-top: 0;

        @media #{$desktopOnly} {
          font-size: 3rem;
        }
      }

      transition: margin-top .5s ease, font-size .5s ease;
    }

    .address-search-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;
    }
  }
}