@import '../styles/main.scss';

.app {
  background-color: $dark-gray;
  height: 100vh;
  width: 100vw;

  .body {
    max-width: 1370px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 50px;

    .address-search-wrapper {
      display: flex;
      justify-content: center;
    }
  }
}