$mobileOnly: 'screen and (max-width: 767px)';
$tabletOnly: 'screen and (min-width: 768px) and (max-width: 1199px)';
$desktopOnly: 'screen and (min-width: 1200px)';
$notMobile: 'screen and (min-width: 768px)';
$notDesktop: 'screen and (max-width: 1199px)';