@import '../../../styles/main.scss';

@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);

.card {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 280px;
  max-width: 310px;
  width: 100%;
  color: #333;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;

  * {
    box-sizing: border-box;
    transition: all 0.35s ease;
  }

  .image {
    position: relative;
    border-bottom: 4px solid #34495e;
    z-index: 1;
    height: 20rem;
    margin: 0;

    &:before {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 20px 20px 0 20px;
      border-color: #34495e transparent transparent transparent;
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -15px);
      z-index: -1;
      transition: all 0.35s ease;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      height: 100%;
      vertical-align: top;
      background-color: $primary-gray;
    }
  }
  .caption {
    height: 14rem;
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .info-container {
      .office, .party, .email, .phone, .address {
        padding: 1px;
      }

      .email, .phone, .address {
        font-size: 0.9rem;
        color: #5b5b5b;
      }

      .address {
        padding-top: 2px;
      }

      .name {
        font-size: 1.4rem;
        color: $dark-gray;
        padding: 5px;
      }
    }
  }
}