$color-white: white;
$inactive-color: rgba($color-white, .5);
$active-color: rgba($color-white, .8);
$borders: 1px solid $inactive-color;

.search-box {
  width: 100%;
  display: flex;

  .input-box {
    width: 100%;
    height: 3rem;
    background: transparent;
    border: none;
    border-bottom: $borders;
    box-sizing: border-box;
    font-size: 2rem;
    font-weight: 300;
    color: $active-color;

    &:focus {
      outline: none;
    }
  }

  .search-button {
    background: transparent;
    border: $borders;
    cursor: pointer;

    .fa-search {
      color: $inactive-color;
      font-size: 2rem;
    }

    &:hover {
      .fa-search {
        color: $active-color
      }
      border: 1px solid $active-color
    }

    &:focus {
      outline: none;
    }
  }
}